name: Lint
on:
  pull_request:
jobs:
  golangci:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod
    - name: Lint
      uses: wandera/golangci-lint-action@v5
      with:
        version: v1.57.2
        args: "--out-${NO_FUTURE}format colored-line-number"
